
body,html{margin:0;padding:0;height:100%;}
body{
 

  justify-content:center;
  align-items:center;
}
svg{font-weight:bold;max-width:600px;height:auto;}


body {
    background-color: rgb(20, 19, 19);;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
    width: 150px;
    height: 100px;
}

.container{
    width: 1350px;
    height:120px ;
    display: flex; 
    background-color: black;
<<<<<<< HEAD
=======
   
    
>>>>>>> 487df40a7669cda09e8e057e88bf0744a7b5ce0b
}

.h--1{
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}
.h--2{
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}
.h--3{
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}


li a{
    text-decoration: none;
    color: white;
}

.textos{
    padding-left: 760px;
    display:flex;
    text-align: right;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
    margin: auto 0;
}
ul{
    display: flex;
}

.container h3{
   
    background-color: black;
    color: white;
    padding: 9px;
}
h1 {
    margin-top: 25px;
    color: white;
    font-family: fantasy;
    font-style: italic;
    font-weight: bold;
    font-size: 70px;

}
.grid-container{

    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center; 
  background-color: rgba(37, 36, 36, 0.5);
    
    
}
.pop{
    padding-left: 110px;
}
.jazz{
    padding-left: 110px;
}
.smusic{
    padding-left: 75px;
}
.trap{
    padding-left: 100px;
}
.regga{
    padding-left: 79px;
}
.electro{
    padding-left: 75px;
}
.rock{
    padding-left: 60px;
}
h4 {
    color: white;
margin-left: 0;
margin-top: 10px;
display: flex;
align-self: flex-start;
    font-size: 17px;
<<<<<<< HEAD
 
=======
    margin-left: 45%;
    align-self: flex-start;
>>>>>>> 487df40a7669cda09e8e057e88bf0744a7b5ce0b

}

h5{
    color: grey;
margin-left: 0;
padding-top: 2px;
margin:auto;
display: flex;
align-self: flex-start;
}

.genero { 
    padding: 20px; 
}
.imagen {
    width: 200px;
    height: 180px;
    gap: 30px;
    margin-left: 25px;
    border: solid rgba(255, 255, 255, 0.301) 2px;
}
.generos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-decoration: underline;
}
