body{
    background-color: black;
    
}

.logo{
    width: 130px;
    height: 80px;
}
.container{
    padding: 0;
    width: 1350px;
    height:120px ;
    background-color:pink;
    display: flex;
}
.container li{
    display: inline;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    padding:1px;
    padding-left: 100px;
    padding-top: 20px;
    margin: auto 0;
}
li a{
    text-decoration: none;
    color: pink;
}
ul{
    display: flex;
   
}
h3{
    border: double pink 4px;
    background-color: black;
    padding: 2px;
    color:pink;
}

.do{
    width: 80px;
    height: 80px;
}
.re{
    width: 80px;
    height: 80px;
}
.yatra{
width: 250px;
height: 175px;
border: solid pink 1px;

}
.ariana{
 width: 250px;
height: 175px;
border: solid pink 1px;
}
.shawn{
    width: 256px;
    height: 175px;
    border: solid pink 1px;
}
.top3{
    border: double pink 4px;
    margin-top: 20px;
    padding: 14px;
    background-color: black;
    position: relative;
}
.guitarra{
   
    width: 50px;
    margin-top: 10px;
   
}
.container2{
    padding: 14px;
    background-color:black;
    height: 60px;
    width: 1321px;
    position: absolute;

}
h1{
    color: pink;
    margin-top: 10px;
}


.slider {
width: 45%;
margin: auto;
overflow: hidden;
border: solid pink 4px;
position: relative;
}

.slider ul {
display: flex;
padding: 0;
width: 400%;

animation: cambio 20s infinite alternate linear;
}

.slider li {
width: 100%;
list-style: none;
}

.slider img {
width: 100%;
}

@keyframes cambio {
0% {margin-left: 0;}
20% {margin-left: 0;}

25% {margin-left: -100%;}
45% {margin-left: -100%;}

50% {margin-left: -200%;}
70% {margin-left: -200%;}

75% {margin-left: -300%;}
100% {margin-left: -300%;}
}

.search{
    
}

