*{
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
}
body{
    background-color: rgb(20, 19, 19);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    width: 150px;
    height: 110px;
}

.container{
    width: 1346px;
    height:120px ;
    display: flex;
    background-color: black;
}
.textos{
    
    padding-left: 740px;
    display:flex;
    text-align: right;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
    margin: auto 0;
}

li a{
    text-decoration: none;
    color: white;    
    
  
}
ul{
    display: flex;
}

.container h3{
   
    background-color: black;
    color: white;
    padding: 9px;
   
}

.slider {
width: 50%;
height  : 377px;
margin: auto;
overflow: hidden;
border: solid black 4px;
}

.slider ul {
display: flex;
padding: 0;
width: 400%;
animation-play-state: running;
animation: cambio 20s infinite alternate linear;
}

.slider li {
width: 100%;
list-style: none;
}

.slider img {
width: 100%;
}
@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


#logo-deezer{
    width: 100px;
}
.box{
    padding-left: 380px;
}
.container-1 input#search{
    margin-top: 60px;
    width: 600px;
    height: 50px;
    background:black;
    border: none;
    font-size: 10pt;
    padding-left: 45px;
    color:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
  }
  .container-1 input#search::-webkit-input-placeholder {
    color: aqua;
 }
  
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 .container-1 .icon{
    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
    z-index: 1;
  }
  .container-1 input#search:hover,      e.container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: black;
  }
.footer2{
    width: 1340px;
    height:120px ;
    display: flex;
    background-color: black;
    margin-top: 50px;
    padding-bottom: 0%;
    
    
}
.alumnos {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: aqua;
    font-size: x-large;
    padding-left: 780px;
    margin: auto 0;
}
.alumnos li{
    list-style-type: none;
    padding: 15px;
}

.deezer{
    width: 250px;
    position: absolute;
}
.todo{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
width: 1300px;
height: 700px;
margin-top: 40px;
gap: 30px;
}
.artistas{
    display: grid;
    height: 500px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color:rgba(0, 0, 0, 0.904); 
    margin-left: 30px;
    border: solid aqua 2px;
}
.albunes{
    border: solid aqua 2px;
    display: grid;
    height: 500px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.904);
}
.nuevos-lanzamientos{
    border: solid aqua 2px;
    display: grid;
    height: 500px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.904);
}
h2{
    color: white;
}
.yatra2{
    width: 98px;
    height: 68px;
    padding-left: 270px;
    padding-right: 5px;
}
.newlanza{
overflow: hidden;
border:  solid black 4px;
margin-top: 40px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgba(29, 24, 24, 0.486);
}
.newlanza a{
    text-decoration: none;
    color: black;
}
.nuevoslanzamientos1 img:hover{
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5px;
    gap: 20px;
    margin-top: 30px;
}
.nuevoslanzamientos2 img:hover{
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5px;
    gap: 20px;
    margin-top: 30px;
}


.nuevoslanzamientos3 img:hover{
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5px;
    gap: 20px;
    margin-top: 30px;
}
.inolvidable{
    border-radius: 38px 38px 38px 38px;
    -moz-border-radius: 38px 38px 38px 38px;
    -webkit-border-radius: 38px 38px 38px 38px;
    border: 0px solid #000000;
    width: 190px;
    height: 190px;
    padding-left: 20px;
    
}
.nuevoslanzamientos1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-left: 5px;
    gap: 10px;
    margin-top: 30px;
}
.nuevoslanzamientos2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-left: 5px;
    gap: 10px;
    margin-top: 30px;
}
.nuevoslanzamientos3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: ;
    margin-left: 5px;
    gap: 10px;
    margin-top: 30px;
}

.hola{
    color: aqua;
    font-family: fantasy;
}



@media(max-width:450px)
{ 
.container{
    width: 435px;
}
.logo{
    margin left:0px;
    width: 100px;
    height: 100px;
}
.textos{
    padding-left: 0;
    font-size: 8px;
}
.slider{
    margin-left: 75px;
    width: 250px;
    height: 148px;
}
.slider img{
    height: 100%;
}
.box{
    padding-left: 60px;
}
.container-1 input#search{
    width: 300px;
}
.newlanza{
    width: 410px;
}
.nuevoslanzamientos{
    display: grid;
    grid-template-columns: 1fr;
}
.footer2{
    width: 400px;
}
.alumnos{
    padding-left: 139px;
    font-size: small;
}
.deezer{
    width: 150px;
    height: 120px;
}







