*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.banner{
    display: none;
}
.logo{
    border-radius: 50px;
    width: 200px;
}
body{
    background-color:white;
}
.container{
    width: 600px;
    margin: 0 auto;
}
.shufo-bro.li{
    display: grid;
    grid-template-columns: 1fr;
}

.main-nav li{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color:black;
    border-image-width: 5px;
    margin-top: 2px;
    color: white;
    text-transform: uppercase;
}
.main-footer li{
    display:grid;
    grid-template-columns: 1fr;
}
#main{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 20px;
    margin-top: 30px;
}

#products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #FFF;
    padding: 10px;
}
.product{
    position: relative;
}

.tafeta{
    width: 340px;
}
.oferta{
    position: absolute;
    width: 50px;
    right: 0;
}

.new{
    position: absolute;
    width: 50px;
    right: 0;
}
.batista{
    width: 340px;
}
.verde{
    width: 340px;
    height: 315px;
}
.rosa{
    width: 340px;
    height: 315px;
}
.product p{
    text-align: justify;
    line-height: 20px;
}
.lienzo{
    width: 340px;
    height: 255px;
}

div.show-more{
    text-align: center;
}
.provenzal{
    width: 340px;
    height: 315px;
}
.free{
    position: absolute;
    width: 50px;
    right: 0;
}
div.show-more a{
    display: inline-block;
    padding: 5px 20px;
    background-color: #EB453D;
}
.chat{
    background-color: cadetblue;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 30px;
}


a{
    text-decoration: none;
    color: #FFF;
}

.main-header{
    text-align: center;
}
ul{
    list-style-type: none;
}
li a{
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
}


  .main-nav li{
      padding: 8px 15px;
      text-decoration: none;
  }

    .main-nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
        padding: 10px;
        text-decoration: none;
    }
    .main-footer li{
      display: grid;
      grid-template-columns: 1fr;
    }
    .superior{
        display: flex;
    }
    .superior a{
        color: black;        
        padding: 15px;
    }
i{
    padding: 15px;
}
.superior li{
    padding-left: 640px;
}
.acolchado1{
    position: relative;
    width: 1005px;
    padding: 10px;
    padding-left: 0px;
}
.new2{
    position: absolute;
    width: 80px;
    right: 174px;
    top: 315px;
}
.texto-encima{
    position: absolute;
    top: 320px;
    left: 190px;
    display: flex;
    text-transform: uppercase;
}
.polar{
    position: relative;
    width: 1005px;
    padding: 10px;
    padding-left: 0px;
}
.oferta21{
    position: absolute;
    width: 80px;
    right: 174px;
    top: 1010px;
}
.texto-encima2{
    position: absolute;
    top: 1015px;
    left: 170px;
    display: flex;
    text-transform: uppercase;
}
