body{
    background-color:white;
}
.logo{
    width: 130px;
    height: 80px;
}
.container{
    padding: 0;
    position: relative;
    width: 1350px;
    height:120px ;
    background-color:rgb(252, 217, 224);
    display: flex;
    z-index: auto;
}
.container li{
    display: inline;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    padding:1px;
    padding-left: 100px;
    padding-top: 20px;
    margin: auto 0;
}
li a{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    
}
h3{
    border: dotted black 2px;
    padding: 2px;
}
   
.nena{
    position: relative;
    width: 1102px;
    padding: 10px;
    padding-left: 0px;
}
.do{
    width: 80px;
    height: 80px;
}
.re{
    width: 80px;
    height: 80px;
}
.yatra{
    padding-left: 1110px;
width: 240px;
height:138px;
position: absolute;
top: 300px;

}
.ariana{
    width: 240px;
    height: 138px;
    padding-left: 1110px;
    position: absolute;
    top: 138px;
   
}
.shawn{
    width: 240px;
    height: 138px;
    padding-left: 1110px;
    position: absolute;
    top: 460px;
}









