*{
    margin: 0;
}
body {
    background-color: rgb(20, 19, 19);;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 150px;
    height: 100px;
}

.container{
    width: 1350px;
    height:120px ;
    display: flex; 
    background-color: black;
    
}

li a{
    text-decoration: none;
    color: white;
}

.textos{
    padding-left: 740px;
    display:flex;
    text-align: right;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
    margin: auto 0;
} 
ul{
    display: flex;
}

.container h3{
   
    background-color: black;
    color: white;
    padding: 9px;
}
.footer2{
    
    
}
#agregar { 
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    margin-left: 20px;

}

.futer{
    background-color: white;
    margin-top: 100px;
    width: 100%;
}
.alumnos {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: white;
    margin: auto;
}
.alumnos li{
    list-style-type: none;
    padding: 15px;
}

.deezer{
    width: 150px;
    position: absolute;
    margin-left: 120px;
}
.playa{
    margin-top: 50px;
}

.playa img{
    display: block;
    margin: auto;
    width: 300px;
    padding-left: 10px;
    border-radius: 38px 38px 38px 38px;
    -moz-border-radius: 38px 38px 38px 38px;
    -webkit-border-radius: 38px 38px 38px 38px;
    border: 0px solid #000000;
    
   
}


.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
    display: inline-block;
    margin-left: 20px;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(255, 255, 0);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}




h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-top: 20px;
    text-align:left;
    padding-left: 330px;
    color: white;
}

a{
    text-decoration: none;
}
h4{
    
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 10px;
    text-align:left;
    padding-left: 330px;
    color: white;
}
audio{
  margin: auto;
    width: 800px;
}

