*{
    margin: 0;
}
body {
    background-color: rgb(20, 19, 19);;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 150px;
    height: 100px;
}

.container{
    width: 1350px;
    height:120px ;
    display: flex; 
    background-color: black;
    
}
.box{
    padding-left: 380px;
}
.container-1 input#search{
    margin-top: 60px;
    width: 600px;
    height: 50px;
    background:black;
    border: none;
    font-size: 10pt;
    padding-left: 45px;
    color:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
  }
  .container-1 input#search::-webkit-input-placeholder {
    color: white;
 }
  
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 .container-1 .icon{
    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
    z-index: 1;
  }
  .container-1 input#search:hover,      e.container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: black;
  }

li a{
    text-decoration: none;
    color: white;
}

.textos{
    padding-left: 740px;
    display:flex;
    text-align: right;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
    margin: auto 0;
} 
ul{
    display: flex;
}

.container h3{
   
    background-color: black;
    color: white;
    padding: 9px;
}
.footer2{
    padding-top: 30px;
    background-color: white;
    width: 1364px;
    height:100px ;
    display: flex;
    margin-top: 50px;
    padding-bottom: 0%;
    
    
}
.alumnos {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: x-large;
    padding-left: 780px;
    margin: auto 0;
}
.alumnos li{
    list-style-type: none;
    padding: 15px;
}

.deezer{
    width: 250px;
    position: absolute;
}
.playa{
    margin-top: 50px;
}
.playa img{
    display: block;
    margin: auto;
    width: 300px;
    padding-left: 10px;
    border-radius: 38px 38px 38px 38px;
    -moz-border-radius: 38px 38px 38px 38px;
    -webkit-border-radius: 38px 38px 38px 38px;
    border: 0px solid #000000;
    
    
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-top: 20px;
    text-align:left;
    padding-left: 330px;
    color: white;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 10px;
    text-align:left;
    padding-left: 330px;
    color: white;
}
audio{
    margin-top: 50px;
    color: black;
    width: 800px;
    padding-left: 300px;
}


